$background: #222222;
$selection: #d3d3d3;
$foreground: #c2c2b0;
$comment: #c1cdc1;
$blue: #6688aa;
$cyan: #90b0d1;
$green: #719611;
$lightgreen: #b1d631;
$orange: #ff9800;
$pink: #8181a6;
$purple: #8f6f8f;
$red: #aa4450;
$yellow: #cc8800;
$white: #d3d3d3;
$black: #000;

$background-transparent: rgba($background, 0.9);
$primary-font: Roboto;
