@import '~bootstrap/scss/bootstrap';
@import './variables';

#root {
  min-height: 100vh;
}

body {
  background-image: linear-gradient(to bottom right, $background, $background);
  background-repeat: no-repeat;
  background-size: cover;
  color: $foreground;
  font-family: $primary-font;
  font-size: 0.8rem;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: $orange;
}

a {
  color: $foreground;
}

a:hover {
  color: $green;
  text-decoration: none;
}
